.ff {
    font-family: 'Montserrat' !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600 !important;
}

.pt-18 {
    padding-top: 18px;
}

.pb-18 {
    padding-bottom: 18px;
}

.mr-10 {
    margin-right: 10px;
}

.inline {
    display: inline-block;
}

.Title{
    font-size:21px;
    font-weight:500;
}
.Content{
    font-size:14px;
    margin-left:10px;
    color:gray;
}

.btn-primary{
    border-radius:5px;
    margin-left:-15px;
}
.btn-danger {
    border-radius: 5px;
}
.wrapper {
    min-height: 100%;
    display: flex;
    overflow: hidden;
}
.col-lg-12 fw-500 padding-content fs-18 {
    background-color: #fff;
}
.ai-navbar-left {
    background-color: #0f1736;
    padding: 10px;
}

    .ai-navbar-left ul {
        padding-left: 0;
        text-align: center;
        list-style-type: none;
    }

        .ai-navbar-left ul li a {
            padding: 11px 13px 13px 11px;
        }

            .ai-navbar-left ul li a:hover,
            .ai-navbar-left ul li a:focus,
            .ai-navbar-left ul li a.selected {
                background-color: #272f4a;
                border-radius: 50%;
            }

.ai-content {
    width: 100%;
}
/* Header */
.ai-content__header {
    padding: 12px 28px 12px 20px;
}

/* Customize Select2*/
.ai-content__header--select-bot {
    border-radius: 10px;
}
.btn-color {
    color: orange;
}
.ai-content__header--select-bot + .select2-container {
    width: 124px !important;
    margin-right: 1rem;
}

    .ai-content__header--select-bot + .select2-container .select2-selection--single {
        height: 38px;
    }

.ai-content__header--select-bot + .select2-container--default .select2-selection--single {
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 18px;
}

    .ai-content__header--select-bot + .select2-container--default .select2-selection--single:hover,
    .ai-content__header--select-bot + .select2-container--default .select2-selection--single:focus {
        background-color: #d0daff;
    }

    .ai-content__header--select-bot + .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 36px;
    }

.ai-content__header--select-bot + .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow > b {
    border: none;
    font-style: normal;
    position: relative;
    top: 58%;
}

    .ai-content__header--select-bot + .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow > b:before {
        font-family: 'FontAwesome';
        content: '\f107';
        position: absolute;
        left: -0.2rem;
        top: -0.73rem;
    }

.ai-content__header--select-bot + .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow > b:before {
    transform: rotate(180deg);
}

.ai-content__header--select-bot + .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.ai-content__header--select-bot--dropdown {
    width: 266px !important;
    border: none !important;
    border-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    margin-top: 5px;
    font-weight: 600;
    font-family: 'Montserrat';
    color: #0f1736 !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #d0daff !important;
    color: #0f1736 !important;
    border-radius: 10px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    border-radius: 10px;
}

li.select2-results__option {
    border-bottom: 1px solid #e5e7eb;
    padding: 9px 0 9px 23px;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 300px !important;
}

.ai-content__header--input-gr {
    display: inline-flex !important;
    width: 300px;
}

.ai-content__header--input {
    background-color: #e7e7e7 !important;
    border: none !important;
    font-weight: 500;
    height: 38px !important;
    box-shadow: none !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    color: #4f556b !important;
}

.ai-content__header--input-gr-btn {
    height: 38px !important;
    background-color: #e7e7e7 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    color: #0f1736 !important;
}

.ai-content__navbar-left {
    background-color: #e5e7eb;
    height: 100%;
    padding-left: 18px !important;
    padding-right: 20px !important;
    padding-top: 2rem;
    -webkit-box-shadow: inset -5px 5px 10px -4px rgba(217,219,223,1);
    -moz-box-shadow: inset -5px 5px 10px -4px rgba(217,219,223,1);
    box-shadow: inset -5px 5px 10px -4px rgba(217,219,223,1);
}

    .ai-content__navbar-left ul {
        list-style-type: none;
        padding-left: 0 !important;
        font-weight: 600;
        margin-top: 24px;
    }

        .ai-content__navbar-left ul li {
            padding-top: 3px;
            padding-bottom: 3px;
        }

            .ai-content__navbar-left ul li a {
                display: block;
                padding: 11px 0 11px 24px;
                color: #0f1736;
            }

                .ai-content__navbar-left ul li a:hover,
                .ai-content__navbar-left ul li a:focus,
                .ai-content__navbar-left ul li a.select {
                    background-color: #d0d6ec;
                    color: #1745f2;
                    text-decoration: none;
                    border-radius: 20px;
                }

.ai-content__header--header-right {
    float: right;
    padding-top: 5px;
}

/* Body */
.ai-content__body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 20px;
    -webkit-box-shadow: inset 3px 11px 10px -4px rgba(245,245,245,1);
    -moz-box-shadow: inset 3px 11px 10px -4px rgba(245,245,245,1);
    box-shadow: inset 3px 11px 10px -4px rgba(245,245,245,1);
}
.Button {
    background-color: transparent;
    border: none;
    color: #878b9a;
}
    .Button:hover, .Button:focus, .Button:active {
        color: #1745f2 !important;
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }
.ai-content__body--add-btn, .ai-content__body--del-btn, .ai-content__body--refresh-btn, .ai-content__body--fix-btn, .ai-content__body--play-btn, .ai-content__body--stop-btn {
    height: 35px;
    border-color: #cbcbcb !important;
    background-color: #e5e7eb;
    border-radius: 8px !important;
    color: #0f1736;
    font-weight: 500 !important;
}

    .ai-content__body--add-btn:hover, .ai-content__body--del-btn:hover, .ai-content__body--refresh-btn:hover, .ai-content__body--fix-btn:hover {
        background-color: #1745f2;
        border-color: #1745f2 !important;
        color: #fff !important;
    }

    .ai-content__body--play-btn:hover, .ai-content__body--stop-btn:hover {
        color: #1745f2 !important;
        background-color: #dadce0;
    }

.ai-content__body--add-btn {
    width: 121px;
    margin-right: 8px;
}

.ai-content__body--del-btn {
    width: 76px;
    margin-right: 8px;
}

.ai-content__body--refresh-btn {
    width: 117px;
}

.ai-content__body--fix-btn {
    width: 99px;
    margin-right: 8px;
}

.ai-content__body--play-btn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.ai-content__body--stop-btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.ai-content__body--input-gr {
    width: 220px;
}

.ai-content__body--input {
    background-color: #f8f9fd !important;
    border: 1px solid #cbcbcb !important;
    font-weight: 500;
    height: 35px !important;
    box-shadow: none !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    color: #4f556b !important;
    border-right: none !important;
}

.ai-content__body--input-gr-btn {
    height: 35px !important;
    background-color: #f8f9fd !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    color: #0f1736 !important;
    border: 1px solid #cbcbcb !important;
    border-left: none !important;
}
/* Customize Datepicker */
.ai-content__body--input-gr-date {
    width: 154px;
    margin-left: 8px;
    margin-right: 8px;
}
.ai-content__body--input-gr-date .input-group-addon {
    background-color: #f8f9fd;
    padding-right: 0 !important;
    border-color: #cbcbcb !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.ai-content__body--date--input {
    background-color: #f8f9fd !important;
    border-left: none !important;
    box-shadow: none !important;
    border-color: #cbcbcb !important;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    font-weight: 500 !important;
    padding-left: 8px !important;
}

    .ai-content__body--date--input:focus {
        border-color: #cbcbcb !important;
    }

/* Customize Select2 */
.ai-content__body--select-number {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 158px;
    padding-left: 12px;
}
.ai-content__body--select-gender {
    border-radius: 10px;
    margin: 0px;
    width: 94px;
    padding-left: 12px;
}
.ai-content__body--select-number + .select2-container {
    width: 138px !important;
    margin-right: 8px;
    border-radius: 10px;
}

.ai-content__body--select-gender + .select2-container {
    width: 88px !important;
    margin-right: 8px;
}

    .ai-content__body--select-number + .select2-container .select2-selection--single,
    .ai-content__body--select-gender + .select2-container .select2-selection--single {
        height: 35px;
        background-color: #f8f9fd;
        border-radius: 10px;
        border-color: #cbcbcb;
        font-weight: 500;
    }

        .ai-content__body--select-number + .select2-container .select2-selection--single .select2-selection__rendered,
        .ai-content__body--select-gender + .select2-container .select2-selection--single .select2-selection__rendered {
            padding-left: 11px;
            line-height: 33px;
        }

    .ai-content__body--select-number + .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow > b,
    .ai-content__body--select-gender + .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow > b {
        border: none;
        font-style: normal;
        font-weight: 100;
        font-size: 1rem;
        color: #87878a;
        position: relative;
        top: 58%;
    }

        .ai-content__body--select-number + .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow > b:before,
        .ai-content__body--select-gender + .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow > b:before {
            font-family: 'FontAwesome';
            content: '\f107';
            position: absolute;
            left: -0.2rem;
            top: -0.73rem;
        }

    .ai-content__body--select-number + .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow > b:before,
    .ai-content__body--select-gender + .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow > b:before {
        transform: rotate(180deg);
    }

.ai-content__body--select-number + .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.ai-content__body--select-gender + .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.ai-content__body--select-number--dropdown, .ai-content__body--select-gender--dropdown {
    font-family: 'Montserrat';
    font-weight: 500;
    border-top: 1px solid #aaa !important;
    border-radius: 10px !important;
    margin-top: 5px;
}

/* Customize Datatable */
#bot-datatable {
    margin-bottom: 18px;
}

.ai-content__body--datatable table.dataTable thead .sorting {
    background-image: none;
    padding-left: 10px !important;
}

.ai-content__body--datatable table.dataTable.display tbody tr.odd > .sorting_1, .ai-content__body--datatable table.dataTable.display tbody tr.even > .sorting_1 {
    background-color: transparent !important;
}

.ai-content__body--datatable table.dataTable tbody tr {
    height: 50px;
}

.ai-content__body--datatable table.dataTable thead th, table.dataTable thead td,
.ai-content__body--datatable table.dataTable.no-footer {
    border-bottom: 1px solid #e0e0e1;
}

.ai-content__body--datatable .dataTables_length label {
    font-weight: 400 !important;
}

.ai-content__body--datatable .dataTables_length select {
    height: 35px;
    width: 60px;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 7px;
    margin-left: 6px;
}

.ai-content__body--datatable .dataTables_length::before {
    content: '\f107';
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    left: 7rem;
    bottom: 0.75rem;
    font-size: 1.14rem;
}

.ai-content__body--datatable .dataTables_wrapper .dataTables_info {
    clear: none;
    padding-top: 8px;
    padding-left: 8px;
}

.ai-content__body--datatable .dataTables_wrapper .dataTables_paginate {
    padding-top: 0;
}

    .ai-content__body--datatable .dataTables_wrapper .dataTables_paginate .paginate_button {
        border: 1px solid #dcdcdc !important;
        margin-left: 0 !important;
        border-radius: 0 !important;
    }

        .ai-content__body--datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            background: #c6c6c6;
        }

            .ai-content__body--datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                background: #e5e7eb !important;
                border-color: #7990e7 !important;
                border-radius: 4px !important;
                color: #7990e7 !important;
            }

        .ai-content__body--datatable .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: #e5e7eb !important;
            border-color: #7990e7 !important;
            border-radius: 4px !important;
            color: #7990e7 !important;
        }

.ai-content__body--datatable #bot-datatable_first {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.ai-content__body--datatable #bot-datatable_last {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

/* Customize dropdown */
.ai-content__body--datatable--dropdown--btn {
    background-color: transparent;
    border: none;
    color: #878b9a;
}

    .ai-content__body--datatable--dropdown--btn:hover, .ai-content__body--datatable--dropdown--btn:focus {
        color: #1745f2;
    }

.ai-content__body--datatable--dropdown .dropdown-menu {
    top: 142%;
    left: -115px;
    min-width: 170px;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #dedede;
    border-radius: 6px;
}

    .ai-content__body--datatable--dropdown .dropdown-menu li a {
        padding: 1rem;
        font-size: 13px;
    }

    .ai-content__body--datatable--dropdown .dropdown-menu:before {
        content: "";
        border-bottom: 6px solid #cbcbcb;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        top: -6px;
        right: 35px;
        z-index: 10;
    }

    .ai-content__body--datatable--dropdown .dropdown-menu:after {
        content: "";
        border-bottom: 5px solid #ffffff;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        top: -5px;
        right: 36px;
        z-index: 11;
    }

*:focus {
    outline: none !important;
}


.form-check-input {
    position: unset !important;
    margin-left: 0 !important;
}
.container {
    padding-left: 25px;
    padding-right: 2rem;
}
.extractionMethod{
    margin-left:30px;
    margin-top:-20px;
}
label {
    display: block;
}

    /*label:hover {
        background: #eee;
        cursor: pointer;
    }*/
.img-edit {
    width: 15px !important;
    height: 15px !important;
    margin-right: 5px;
}
.img-search {
    margin-bottom: 3px;
    width: 15px !important;
    height: 15px !important;
}


.padding-content__btn {
    border-radius: 10px !important;
    background-color: #e5e7eb;
    border: 1px solid #cbcbcb;
    font-weight: 500;
    color: #0f1736;
    margin-right: 8px;
}

    .padding-content__btn:hover {
        color: #fff;
        background-color: #1745f1;
        border-color: #1745f1;
    }

    .padding-content__btn:focus {
        outline: none !important;
        box-shadow: none;
    }

.blue-button {
    background-color: #1745f1;
    color: #fff;
}

.intent__dropdown-menu {
    padding: 0;
    border-radius: 10px;
    width: 168px;
    top: 11px;
}

    .intent__dropdown-menu:before {
        content: '';
        position: absolute;
        top: -12px;
        left: 132px;
        border-bottom: 12px solid rgba(0,0,0,.15);
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
    }

    .intent__dropdown-menu:after {
        content: '';
        position: absolute;
        left: 133px;
        top: -11px;
        border-bottom: 11px solid #ffffff;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
    }

.intent__dropdown-item-1, .intent__dropdown-item-2 {
    padding: 15px;
    font-size: 13px;
    font-weight: 500;
}

    .intent__dropdown-item-1:focus, .intent__dropdown-item-1:hover, .intent__dropdown-item-1:active {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #ededed;
        color: #212529;
    }

    .intent__dropdown-item-2:focus, .intent__dropdown-item-2:hover, .intent__dropdown-item-2:active {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #ededed;
        color: #212529;
    }

.dropdown-menu__icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}


/* CSS Modal */
..modal-header{
    padding-top:22px;
}
.intent__modal {
    float: right;
    width: 374px;
    height: 100%;
    margin: 0;
}

    .intent__modal .modal-content {
        height: 100%;
    }

#entityTypename {
    border-radius: 10px;
}

    #entityTypename:focus, #desc:focus {
        outline: none;
        border-color: #1745f1;
        box-shadow: none;
    }

#desc {
    border-radius: 10px;
    height: 95px;
}

.intent__modal--add-btn {
    background-color: #1745f2;
    color: #fff;
    border-radius: 10px;
    margin-right: 8px;
}

    .intent__modal--add-btn:hover {
        background-color: #1745f2;
    }

.intent__modal--cancel-btn {
    border-radius: 10px;
    background-color: #fff;
    color: #0f1736;
}

    .intent__modal--cancel-btn:hover {
        background-color: #1745f2;
    }

/* CSS Radio button */
input[type="radio"] {
    display: none;
}

.custom-radio {
    cursor: pointer;
    display: block;
    margin: 0 0 21px;
    padding: 0 0 0 26px;
    position: relative;
}

    .custom-radio span.radio {
        background: #fff;
        border: solid 2px #b5b5b5;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        height: 12px;
        left: 0;
        margin: 0px;
        left: 0;
        position: absolute;
        top: 3px;
        width: 19px;
        height: 19px;
    }
    .custom-radio:hover span.radio {
        border-color: #1745f2;
    }

        .custom-radio span.radio:after {
            border-radius: 50%;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            transform: scale(2);
            -webkit-transform: scale(2);
            opacity: 0;
            transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            width: 9px;
            height: 9px;
        }

    .custom-radio input[type='radio']:checked + span.radio:after {
        border-color: #1745f2;
        background: #1745f2;
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }

    .custom-radio input[type='radio']:checked + span.radio {
        border-color: #1745f2;
    }
.error{
    font-style:italic;
    margin-top:5px;
}
.has-error {
    border-color: red;
}
tbody tr:hover {
    border-left: 3px solid blue;
    background-color: #fff;
}

thead tr:hover {
    background-color: #fff;
}

.entitytype-name {
    color: #1745f2;
    max-width: 270px !important;
    width: 15%;
}
.countPattern {
    color: #e82e4c;
    opacity: 0.7;
}
    .countPattern:hover {
        opacity: 1;
    }

.entitytype-countPattern {
    width: 95px;
    text-align:center;
}

.entitytype-description{
    max-width: 390px !important;
    width: 26%;
}


.entitytype-actions {
    width: 110px;
    text-align: center;

}

.entitytype-extractionMethod{
    width: 200px;
}

.icon-margin {
    margin-bottom: 5px;
}
.pagination {
    float: right;
    text-align: center;
    font-weight:600;
}
.page-link {
    width: 45px !important;
    background-color: #fff !important;
    color: black !important;
    border-radius: 4px;
}
.page-item.active .page-link {
    background-color: #e5e7eb !important;
    color: #1745f2 !important;
}
/*.btn-secondary {
    color: #000;
    background-color: #ffffff;
    border-color: #6c757d;
    font-weight: 600;
}
    .btn-secondary:hover {
        color: black !important;
        background-color:#fff !important;
    }*/

/* form đổi mật khẩu*/
.Title-pass {
    font-size: 25px;
    font-weight: 500;
}
.Content-pass {
    font-size: 16px;
    color: black;
}
.table-change {
    margin-left: 20px;
    background-color: #fafafa;
}
.td-content {
    border-bottom: 0px !important;
    border-radius: 0px !important;
    border-right: 0px !important;
    width: 500px;
}
.td-content-border {
    border-top: 0px !important;
}
.td-height{
    height: 90px !important;
}
/*.td-content-bordertop {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}*/
.td-content-borderbottom {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.btn-confirm {
    float: right;
    background-color: #1745f2;
    border: 0px;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    margin-bottom: 25px;
    margin-top: 13px;
    font-weight: 600;
    margin-right: 100px !important;
}
    .btn-confirm:hover {
        background: #0c00ff !important;
    }
input[type="password" i] {
    font: initial;
    font-family: Verdana,sans-serif;
}
.td-border{
    border-bottom: 0px !important;
}
.form-group-box{
    display: flex;
}
.td-pass {
    margin-top: auto;
    margin-bottom: auto;
}
#password {
    border: 0px;
    background: #fafafa !important;
}
.btn-show-hide-password {
    left: 1rem;
    top: calc(50% - 0.5rem);
    color: #1745f2 !important;
    cursor: pointer;
    font-weight: 500;
    margin-left: 15px;
}
    .btn-show-hide-password:hover {
        color: #0c00ff !important;
    }
#name {
        padding-top: 20px;
        width: 180px;
    }
.custom-table td{
    background: #fafafa !important;
}
.td-location {
    width: 200px;
    margin-left: 180px;
}
input::placeholder {
    font-size: 14px !important;
    font-style: italic !important;
}